/* general */
html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background-color: rgb(30, 30, 30);
}

a, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    color: rgb(245, 245, 245);
}

.container{
    max-width: 3840px;
    width: 100%;
}


/* header */
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}


/* nav */
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: rgb(30, 30, 30);
    border-bottom: 0px solid rgb(51, 50, 50);
}

nav::after{
    clear: both;
    content: "";
    display: block;
}

.nav-container{
    max-width: 90%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo{
    width: 150px;
    height: auto;
    margin-top: 25px;
}

#navlist{
    float: right;
    padding: 0%;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

#navlist li{
    list-style: none;
    float: left;
    margin: 0 25px;
}

#navlist li a{
    text-decoration: none;
    font-size: large;
    font-weight: 300;
    color: rgb(245, 245, 245);
    transition: 0.5s;
}

#navlist li a:hover{
    font-size: larger;
    color: #666;
}


/* main banner */
#main-banner{
    background: url("../LearningHTML&CSS/images/baiaporcima.jpg") no-repeat;
    background-size: cover;
    margin-top: 100px;
}

#main-bannercontainer{
    margin-left: 10%;
    margin-right: 63%;
    padding-top: 10em;
    padding-bottom: 30em;
}

#main-calltoaction{
    text-decoration: none;
    transition: 0.5s;
}

#main-calltoaction:hover{
    color: rgb(56, 56, 56);
}

#calltitle{
    font-size: xxx-large;
    text-shadow: 0.05em 0.05em 0.05em rgb(30, 30, 30);
}

#callsubtitle{
    font-size: x-large;
    text-shadow: 0.1em 0.1em 0.05em rgb(30, 30, 30);
}


/* secondary banners */
.bannerscontainer{
    margin-bottom: 20px;
    border-bottom: rgb(66, 66, 66) solid 1px;
}

.bannerslist{
    text-align: center;
    font-size: larger;
    font-weight: 300;
    width: 100%;
    max-width: 90%;
    min-width: 800px;
    margin: auto;
}

.bannerarea{
    display: inline-block;
    inline-size: auto;
    width: 24%;
    margin: 1.5% auto;
    text-decoration: none;
    transition: 0.5s;
}

.bannerarea:hover{
    opacity: 70%;
    width: 25%;
    color: rgb(145, 145, 145);
    font-size: x-large;
    margin: 0% 0%;
}

.bannerimage{
    width: 100%;
    margin-bottom: 0.5em;
}

/* form */
.form-container{
    max-width: 1200px;
    margin: 2% auto;
    text-align: center;
    color: white;
    font-size: large;
}

.form-input{
    font-size: large;
}

.form-button{
    background-color: rgb(83, 83, 83);
    color: rgb(250, 250, 250);
    margin-left: 0.3em;
    font-size: medium;
    padding: 0.25em 1.5em;
    border: rgb(87, 87, 87) solid 2px;
    border-radius: 0.5em/0.5em;
}

/* footer*/
footer{
    display: flex;
    font-size: small;
    justify-content: center;
    color:#666;
}   

/* responsive */
@media screen and (max-width: 1440px) {

    nav{
        height: 4em;
    }

    #navlist {
        height: 4em;
        line-height: 4em;
    }

    #navlist li a{
        font-size: small;
        font-weight: 300;
    }
    
    #navlist li a:hover{
        font-size: smaller;
    }

    #logo{
        width: 100px;
    }
    
    #main-banner {
        margin-top: 4em;
    }

    #main-bannercontainer {
        padding-top: 7em;
        padding-bottom: 15em;
    }
    
    #calltitle{
        font-size: xx-large;
    }
    
    #callsubtitle{
        font-size: medium;
    }

    .bannerslist {
        font-size: small;
    }

    .bannerarea:hover{
        font-size: medium;
    }

    .form-container{
        font-size: smaller;
    }

    .form-input{
        font-size: small;
    }

    .form-button{
        font-size: smaller;
    }
}