/* general */
html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background-color: rgb(30, 30, 30);
}

a, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    color: rgb(245, 245, 245);
}

.container{
    max-width: 3840px;
    width: 100%;
}


/* header */
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}


/* nav */
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: rgb(30, 30, 30);
    border-bottom: 0px solid rgb(51, 50, 50);
}

nav::after{
    clear: both;
    content: "";
    display: block;
}

.nav-container{
    max-width: 90%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo{
    width: 150px;
    height: auto;
    margin-top: 25px;
}

#navlist{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

#navlist li{
    list-style: none;
    float: left;
    margin: 0 15px;
}

#navlist li a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    transition: .5s;
}

#navlist li a:hover{
    color: #666;
}


/* main banner */
#main-banner{
    background: url("../LearningHTML&CSS/images/baiaporcima.jpg") no-repeat;
    background-size: cover;
    margin-top: 100px;
}

#main-bannercontainer{
    margin-left: 10%;
    margin-right: 63%;
    padding-top: 10em;
    padding-bottom: 30em;
}

#main-calltoaction{
    text-decoration: none;
    transition: 0.5s;
}

#main-calltoaction:hover{
    color: rgb(56, 56, 56);
}

#calltitle{
    font-size: xxx-large;
    text-shadow: 0.05em 0.05em 0.05em rgb(30, 30, 30);
}

#callsubtitle{
    font-size: x-large;
    text-shadow: 0.1em 0.1em 0.05em rgb(30, 30, 30);
}


/* small banners 
#smallbannerslist{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0%;
    max-height: 250px;
}

.smallbanner{
    font-size: xx-large;
    height: 100px;
    width: 200px;
    cursor: pointer;
    color: rgb(245, 245, 245);
    text-shadow: 0.05em 0.05em 0.05em rgb(30, 30, 30);
    text-align: center;
}

.smallbanner:hover{
    color: rgb(30, 30, 30);
}

#smallbanner1{
    background: url("../LearningHTML&CSS/images/realestateCover.JPG") no-repeat;
    background-size: contain;
}

#smallbanner2{
    background: url("../LearningHTML&CSS/images/tourresidencialCover.jpg") no-repeat;
    background-size: contain;
}

#smallbanner3{
    background: url("../LearningHTML&CSS/images/eunabaia.jpg") no-repeat;
    background-size: cover;
}

.form-container{
    display: flex;
    justify-content: space-evenly;
    margin: 2em 33em;
}

footer{
    display: flex;
    justify-content: center;
    color:#666;
}*/ 
.bannerslist{
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    margin: 10px auto;
}

.banner{
    display: inline-block;
    width: 24.5%;
    margin: 0px 0px;
    text-align: center;
}

.bannerimage{
    width: 100%;
}
    