/* general */
html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    background-color: rgb(30, 30, 30);
}

h1, h2, h3, h4, h5, h6, p, span{
    margin: 0;
    color: rgb(245, 245, 245);
}

.container{
    max-width: 3840px;
    width: 100%;
}


/* header */
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}


/* nav */
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: rgb(30, 30, 30);
    border-bottom: 0px solid rgb(51, 50, 50);
}

nav::after{
    clear: both;
    content: "";
    display: block;
}

.nav-container{
    max-width: 90%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo{
    width: 150px;
    height: auto;
    margin-top: 25px;
}

.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li{
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    transition: .5s;
}

.nav-container li a:hover{
    color: #666;
}


/* main banner */
#main-banner{
    background: url("../LearningHTML&CSS/images/baiaporcima.jpg") no-repeat;
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 100px;
}

#main-calltoaction{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
    padding-bottom: 35em;
    text-align: left;
}

#main-banner a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    text-justify: distribute;
}

#main-calltoaction h1{
    font-size: 35px;
    transition: .5s;
}

#main-calltoaction p{
    font-size: 20px;
    max-height: 20px
}

#main-calltoaction h1:hover{
    color: #666;
}

